<footer class="bg-secondary shadow dark:bg-gray-900">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="#" class="flex items-center mb-4 sm:mb-0">
                <img src="../../assets/logo.svg" class="h-8 mr-3" alt="Flowbite Logo" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Trip Planner</span>
            </a>

            <ul class="flex flex-wrap items-center mb-4 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                <li class="p-2">© 2023 <a href="#" class="hover:underline">JJJR</a>. All Rights Reserved.</li>
            </ul>

            <ul class="flex flex-wrap items-center mb-4 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                <li class="p-2">Joppe Dierckx</li>
                <li class="p-2">Joppe Vanhelden</li>
                <li class="p-2">Jarne Baelus</li>
                <li class="p-2">Ruben Heurckmans</li>
            </ul>
        </div>
    </div>
</footer>
