
<div class="bg-[#f8f8f8] py-12">
  <h1 class="text-center text-4xl mb-10">Lijst van populaire trips</h1>
  <div>
    <div class="flex flex-col lg:flex-row mx-auto px-40 mb-24">
        <div class="flex-1 my-auto mx-10 text-center">
            <ul class="">
              <li class="py-3 px-3 border rounded-md my-2 flex bg-white">
                <p class=" flex-1 text-start my-auto">Trip 1 vlag</p> <p class="flex-1 my-auto text-start">x saves</p> <a class="bg-primary px-2 pt-0.5 pb-1 text-white font-bold my-0 rounded-md text-xl" href="">></a>
              </li>
                <li class="py-3 px-3 border rounded-md my-2 flex bg-white">
                  <p class=" flex-1 text-start my-auto">Trip 1 vlag</p> <p class="flex-1 my-auto text-start">x saves</p> <a class="bg-primary px-2 pt-0.5 pb-1 text-white font-bold my-0 rounded-md text-xl" href="">></a>
                </li>
                <li class="py-3 px-3 border rounded-md my-2 flex bg-white">
                  <p class=" flex-1 text-start my-auto">Trip 1 vlag</p> <p class="flex-1 my-auto text-start">x saves</p> <a class="bg-primary px-2 pt-0.5 pb-1 text-white font-bold my-0 rounded-md text-xl" href="">></a>
                </li>
                <li class="py-3 px-3 border rounded-md my-2 flex bg-white">
                  <p class=" flex-1 text-start my-auto">Trip 1 vlag</p> <p class="flex-1 my-auto text-start">x saves</p> <a class="bg-primary px-2 pt-0.5 pb-1 text-white font-bold my-0 rounded-md text-xl" href="">></a>
                </li>
                <li class="py-3 px-3 border rounded-md my-2 flex bg-white">
                  <p class=" flex-1 text-start my-auto">Trip 1 vlag</p> <p class="flex-1 my-auto text-start">x saves</p> <a class="bg-primary px-2 pt-0.5 pb-1 text-white font-bold my-0 rounded-md text-xl" href="">></a>
                </li>
            </ul>
        </div>
        <div class="flex-1 bg-white my-auto mx-10 text-center">
          <img src="https://picsum.photos/1000/1000" alt="">
        </div>
    </div>

    <!-- if populartrips > 5 -->
    <div class="flex flex-col lg:flex-row mx-auto px-40">
      <div class="flex-1 bg-white my-auto mx-10 text-center">
        <img src="https://picsum.photos/1000/1000" alt="">
      </div>  
      <div class="flex-1 my-auto mx-10 text-center">
        <ul class="">
          <li class="py-3 px-3 border rounded-md my-2 flex bg-white">
            <p class=" flex-1 text-start my-auto">Trip 1 vlag</p> <p class="flex-1 my-auto text-start">x saves</p> <a class="bg-primary px-2 pt-0.5 pb-1 text-white font-bold my-0 rounded-md text-xl" href="">></a>
          </li>
            <li class="py-3 px-3 border rounded-md my-2 flex bg-white">
              <p class=" flex-1 text-start my-auto">Trip 1 vlag</p> <p class="flex-1 my-auto text-start">x saves</p> <a class="bg-primary px-2 pt-0.5 pb-1 text-white font-bold my-0 rounded-md text-xl" href="">></a>
            </li>
            <li class="py-3 px-3 border rounded-md my-2 flex bg-white">
              <p class=" flex-1 text-start my-auto">Trip 1 vlag</p> <p class="flex-1 my-auto text-start">x saves</p> <a class="bg-primary px-2 pt-0.5 pb-1 text-white font-bold my-0 rounded-md text-xl" href="">></a>
            </li>
            <li class="py-3 px-3 border rounded-md my-2 flex bg-white">
              <p class=" flex-1 text-start my-auto">Trip 1 vlag</p> <p class="flex-1 my-auto text-start">x saves</p> <a class="bg-primary px-2 pt-0.5 pb-1 text-white font-bold my-0 rounded-md text-xl" href="">></a>
            </li>
            <li class="py-3 px-3 border rounded-md my-2 flex bg-white">
              <p class=" flex-1 text-start my-auto">Trip 1 vlag</p> <p class="flex-1 my-auto text-start">x saves</p> <a class="bg-primary px-2 pt-0.5 pb-1 text-white font-bold my-0 rounded-md text-xl" href="">></a>
            </li>
        </ul>
    </div>
  </div>
</div>